/* Nav Bar */

nav {
    padding: 5% 5% 5% 5%; 
    text-align: center; 
}

#navbar {
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 12px; 
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1; 
}

#navbutton {
    background-color: pink;
    color: grey;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 4px;
    border: none;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
#navbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#navbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#navbutton:hover span {
    padding-right: 25px;
}
  
#navbutton:hover span:after {
    opacity: 1;
    right: 0;
}

a:link, a:visited {
    color: grey;
}

a:link, a:active {
    color: grey;
}

/* End of Nav Buttons */

/*Moving banner*/

#banner { 
    height: 50px;
    width: 420px;
    font-family: 'Oswald', sans-serif;
    color: grey;
    overflow: hidden;
    position: relative;
}

#banner div {
    display: block;
    width: 200%;
    height: 45px;

    position: absolute;
    overflow: hidden;

    animation: marquee 5s linear infinite;
}

#banner span {
    float: left;
    width: 50%; 
}

@keyframes marquee {
    0% {left: 0; }
    100% { left: -100%; }
}

/* End of Moving Banner */

/*General */

h1{
    text-align: center;
    padding-top: 8%;
    padding-bottom: 1%;
    color: #434444;
    font-size: xx-large;
    font-weight: bold;
}

body{
    background-color: white;
    scroll-behavior: smooth;
    margin: 0;
    margin-top: 49px;
    color: grey;
    font-family: 'Oswald', sans-serif;
}

/* End of General */

/* Our faces */

.gallery{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}


.item{
    filter: grayscale(100%);
    padding: 10px;
    width: 18vw;
    transition: all 0.3s ease-in-out;

}

.item:hover{
    transform: scale(1.1);
    color: hotpink;
}

.img {
    width: 100%;
    border-radius: 50%;    
}


figcaption{
    text-align: center;
}

/* End of Our Faces */

/*Find us text and map*/
span{
    display: flex;
    justify-content: space-around;
}

.finduslist{
    list-style-type: none;
    margin: 2%;
    padding: 0;    
}
 

.findus{
    display: block;
    color: #434444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

/* End of find us text and map */

/* FAQs */

.collapsible {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: medium;
    font-family: 'Oswald', sans-serif;
  }
  
.active, .collapsible:hover {
    background-color: lightgrey;
  }
  
.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\2212";
  }
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
    color: grey;
    font-size: medium;
  }

/* End of FAQs */

/* Start of Footer */

.contact {
    display: flex; 
    justify-content: space-between; 
    justify-content: center;
    margin-top: 5%; 
    padding: 3% 1% 3% 1%;
    background-color:#f1f1f1;
    color: grey;
    text-align: center;
}

.ourstore {
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

article{
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    font-weight: bold;
    padding: 2%;
    font-size: x-large;
}

/* End of Footer */